@charset "utf-8";
.tc {
	float: left;
	width: 200px;
	padding-top: 30px;
}
.tc h2{
	font-size: 24px;
	color: #000;
}
.fs h2{color: #000;}
.tc li{
	font-size: 15px;
	height: 29px;
	border-bottom: 1px  solid; 
}
.comWidth li{
	padding-top: 10px;}
.fs{
	float: right;
	width: 770px;
	padding-top: 30px;
}
.fs h2{
	font-size: 24px;
}
.fs img{
	margin-top: 30px;
	margin-bottom: 30px;
}
.dh img{
float: left;
text-align: right;
}
